<ol class="breadcrumb">
  <li><a ui-sref="main.classList">Home</a></li>

  <li class='active'>{{class}}</li>
</ol>

<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <button ng-click="createNewTopic()" type="button" class="btn btn-info" ng-show="newTopic.show"><span class="glyphicon glyphicon-plus"></span> New Topic</button>
        <button ng-click="postTopic()" type="button" ng-show="!newTopic.show" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span> Submit</button>

    </div>
</div>

<div ng-hide="newTopic.show" class="reply-form">
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" ng-model='topicTitle' placeholder="Topic Name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <textarea class="form-control" rows="3" ng-model='markdown'></textarea>
        </div>
        <div class="col-md-6">
            <h4>{{topicTitle}}</h4>
            <div btf-markdown="markdown">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <ul class="list-group">
            <li class='list-group-item'>
                <div class="row">
                    <div class="col-md-8"><strong>Topic</strong></div>
                    <div class="col-md-2"><strong>Replies</strong></div>
                    <div class="col-md-2"><strong>Last Reply</strong></div>
                </div>
            </li>
            <li class='list-group-item class-listing' ng-repeat='post in topics | filter:{class:class}'>
                <div class="row class-row" ng-click="selectTopic()">
                    <div class="col-md-8">{{post.title}}</div>
                    <div class="col-md-2">{{post.replies.length}}</div>
                    <div class="col-md-2">{{post.replies[0].timestamp | date:short}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
